.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.repositories,
div.experience,
div.aboutme,
div.contact,
div.toc {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: calc(100% - 40px);
    max-height: 750px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: rgba(54, 54, 54, 0.237);
    border-radius: 50px;
    /* Blur Effect */
    backdrop-filter: blur(25px);
    --webkit-backdrop-filter: blur(25px);
}

.contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

br.repositories,
br.experience {
    display: block;
    width: 100%;
    height: 500px;
}

main {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100vh;
    padding: 20px;
}

ul.experience-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    /* Enable CSS Grid */
    grid-template-columns: repeat(3, 1fr);
    /* Create 3 equal columns */
    gap: 20px;
    /* Add spacing between items */
    justify-items: center;
    /* Center items horizontally */
}

ul.experience-list li {
    margin: 0;
    padding: 10px 20px;
    /* Adjust padding */
    background-color: rgba(54, 54, 54, 0.237);
    border-radius: 50px;
    min-width: 100px;
    text-align: center;
    /* Center text inside the items */
    backdrop-filter: blur(50px);
    --webkit-backdrop-filter: blur(25px);
}
.blur50 {
    backdrop-filter: blur(50px);
    --webkit-backdrop-filter: blur(50px);
}

.blur25 {
    backdrop-filter: blur(25px);
    --webkit-backdrop-filter: blur(25px);
}

.blur10 {
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
}