html,
body {
    overflow: hidden;
    color: #fefeff;
    text-shadow: rgb(0, 0, 0, 1) 0px 0px 15px;
    cursor: none;
    scroll-behavior: smooth;
    margin: 0;
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
}

body {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: auto;
    z-index: -1;
}


h1.title {
    text-align: center;
    font-size: 2em;
    text-align: center;
    color: #fefeff;
    margin-top: 20px;
}

h2.subtitle {
    text-align: center;
    font-size: 1.5em;
    text-align: center;
    color: #fefeff;
}