html,
body {
    overflow: hidden;
    font-family: 'Consolas', sans-serif;
    color: #fefeff;
    text-shadow: #000000 0px 0px 10px;
}

body {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: auto;
    z-index: -1;
}


h1.title {
    text-align: center;
    font-size: 2em;
    text-align: center;
    color: #fefeff;
    margin-top: 20px;
}

h2.subtitle {
    text-align: center;
    font-size: 1.5em;
    text-align: center;
    color: #fefeff;
}