.title,
.subtitle {
    pointer-events: none;
}

* {
    text-align: center;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

a {
    text-decoration: underline;
    color: #fefeff;
    text-shadow: rgb(0, 0, 0, 1) 0px 0px 15px;
}